APP_NAME='Simple Whatsapp Gateway'
API_TOKEN= #add your secret token example secretSauc3
PORT=3000
# Path to Node.js interpreter - specify the exact version to use
NODE_INTERPRETER=/home/ubuntu/.nvm/versions/node/v20.19.5/bin/node